  .menu-link{
      margin-right: 25px;
      text-decoration: none;
      font-weight: bold;
    color: rgb(83, 83, 83);
    transition: linear 0.3s;
  }
  .menu-link:last-of-type {
    margin-right: 0;
    margin-left: auto;
  }

  .menu-link:hover {
    color: black;
  }
