.card__authors {
  font-size: 10px;
  line-height: 18px;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  transition: 0.2s linear;
}
