.header__login-button {
  font-size: 18px;
  color: rgb(83, 83, 83);
  width: 200px;
  min-width: 150px;
  height: 40px;
  background-color: eee;
/* background-image: url("../../../images/Add button.svg"); */
/* background-position: center;
background-repeat: no-repeat; */
margin: 20px auto auto;
border: none;
box-sizing: border-box;
border-radius: 6px;
padding: 0;
transition: 0.2s linear;
}

.header__login-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (max-width: 700px) {
  .header__login-button {
    width: 250px;
  }
}
