.header__title {
  font-size: 80px;
  color: white;
  text-transform: lowercase;
  font-weight: 500;
  margin: auto auto 20px;
}

@media all and (max-width: 540px) {
  .header__title {
    font-size: 64px;
  }
}
